body {
    background: black;
}

.izq {
    width: 50px;
    height: 300px;
    display: inline-block;
    background: rgb(131, 16, 16);
}

.der {
    width: 50px;
    height: 300px;
    display: inline-block;
    background: rgb(131, 16, 16);
    margin-left: 0px;
}

.diagonal {
    width: 50px;
    height: 300px;
    display: inline-block;
    background-color: rgb(219, 0 ,0);
    transform: rotate(-15deg);
    transform: skew(20deg);
  }

.fondo {
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -40px 0 0 -40px;
}